<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <%
      # @user.errors.full_messages.each do |msg|
      object.errors.full_messages.each do |msg| # changed from the above to work with other objects
    %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>